[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
